@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  scroll-behavior: smooth;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.btn {
  @apply text-base text-center py-2 px-5  my-2 md:my-0 block font-semibold  text-white  rounded-full transition-all duration-200 hover:text-purple-700;
}
.secondaryBtn {
  @apply bg-purple-700 text-center font-semibold   py-2 px-5 text-base   text-white  rounded-full;
}
.link {
  @apply text-base font-medium text-[#acacaf] hover:text-purple-700;
}

.gradient {
  background: -webkit-linear-gradient(to bottom, #274046, #e6dada);
  background: linear-gradient(to top, #274046, #e6dada);
}
